@model CRUD_Personas_Core_UI.Models.ViewModels.ClsPersonaListadoDepartamentosNombreDepartamentoVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>ClsPersonaListadoDepartamentosVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    @Html.HiddenFor(model => model.Id)
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    @Html.TextBoxFor(model => model.Nombre)
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellidos" class="control-label"></label>
                    @Html.TextBoxFor(model => model.Apellidos)
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    @Html.TextBoxFor(model => model.FechaNacimiento)
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    @Html.TextBoxFor(model => model.Direccion)
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    @Html.TextBoxFor(model => model.Telefono)
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    @Html.TextBoxFor(model => model.Foto)
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="form-group"><!--duda que tenía que hacer aquí-->
                    <label asp-for="IdDepartamento" class="control-label"></label>
                    @Html.DropDownListFor(model => model.IdDepartamento,
                    new SelectList(Model.ListadoNombresDepartamentos, Model.NombreDepartamento,))
                    <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdDepartamento" class="control-label"></label>
                    @Html.HiddenFor(model => model.IdDepartamento)
                    <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index", "Personas")
    </div>

    @{
        if (ViewBag.NumeroFilasAfectadas == 1)
        {
            <div>Se ha actualizado correctamente</div>
        }
        else if (ViewBag.NumeroFilasAfectadas == 0)
        {
            <div>No se ha actualizado</div>
        }
    }

</body>
</html>
